<h2>Add a Vacation</h2><br/>

<form action="/vacations" method="post"
<br/>

        <label>Vacation Name: </label>
        <input type="text" name="vacation_name" /><br /><br />

        <label for="start_date">Start Date: </label>
        <input type="date" id="start_date" name="start_date" min="2020-04-01" max="3000-04-01" required>
        <span class="validity"></span></label><br/><br/>
  

    
        <label for="end_date">End Date: </label>
        <input type="date" id="end_date" name="end_date" min="2020-04-01" max="3000-04-01" required>
        <span class="validity"></span></label><br/><br/>

        <label>Resort Name: </label>
        <input type="text" name="resort_name" /><br /><br />
   
        <label>Give a Brief Description: </label>
        <textarea id="description" name="description" rows="10" cols="55"></textarea><br /><br />

    <center><button type="submit" class="btn">Create</button></center>

</form>