

<!DOCTYPE html>
<html>
    <head>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <style>
                .alert {
                padding: 20px;
                background-color: #f44336;
                color: white;
                }

                .closebtn {
                margin-left: 15px;
                color: white;
                font-weight: bold;
                float: right;
                font-size: 22px;
                line-height: 20px;
                cursor: pointer;
                transition: 0.3s;
                }

                .closebtn:hover {
                color: black;
                }
            </style>


    </head>
        <body>
            <div class="alert">
                <% if !@user_password %>
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                    <strong>Warning! <%= flash[:message]%>!</strong> 
                <%end%>
            </div>
        </body><br/><br/>
</html>


<form action="/login" method="post">
    <center><h1>Login</h1><br/></center><br/>
    <div class="form">
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required><br/><br/>

        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required><br/><br/><br/>
        
       <button type="submit" class="btn">Login</button>
    </div>
</form>
