<center><h2>Login</h2></center><br/>

<form action="/login" method="post">
    <div class="form"
        <label>Username: </label>
        <input type="text" name="username" /><br/><br/>

        <label>Password: </label>
        <input type="password" name="password" /><br/><br/>
    </div>
    
    <center><input type="submit" value="Log In"></center>

</form>
