
<form action="/login" method="post">
<center><h1>Login</h1><br/></center><br/>

    <div class="form"
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required><br/><br/>

        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required><br/><br/><br/>
        
        <center><button type="submit" class="btn" style="height:24px; width:55px">Login</button></center>
    </div>
    


</form>
