<h2>Welcome <%= @user.first_name.capitalize %></h2>

<ul>

<% @vacations.each do |vacation| %>
<h3><li><a href="/vacations/<%=vacation.id%>"> <%= vacation.vacation_name %></a></li></h3>

    <%end%>

</ul>
