<center><h2>Welcome <%= @user.username.capitalize %></h2></center>

<ul>

<% @vacations.each do |vacation| %>
<li><a href="/vacations/<%=vacation.id%>"> <%= vacation.start_date %></a></li>

    <%end%>

</ul>
