<h2>Welcome <%= @user.first_name.capitalize %></h2>

#want to make the header to be in one line

<ul>

<% @vacations.each do |vacation| %>
<li><a href="/vacations/<%=vacation.id%>"> <%= vacation.vacation_name %></a></li>

    <%end%>

</ul>
