<center><h1>Welcome To Your Vacation Planner</h1></center><br/>

<div class="container">
  <header><img id="image1" src="images/img_logo.jpg" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
<center><h2>Start Your Vacation With Us!</h2></center>

    <div style="text-align:center">
      <center><p>Welcome to your Vacation Planner! We will help you organize and make sure your vacation goes according as planned. If you have not done so, please <a href="/signup">Sign Up</a>. If you have already have signed up, please <a href="/login">Log In</a>, so we can get started. Thank You for choosing us to help you oraganize and have the best vacation you have ever had. 
      </p></center>
    </div>
</div>